<mat-card class="container">

  <div class="messages">
    
    <div class="msgReceived">
      <div class="msgContainer">
        <h4>Hello World</h4>
      </div>
    </div>

    <div class="msgSent">
      <h4>Hello World</h4>
    </div>
  </div>

  <mat-card-actions>
    <div class="messageContainer">
      <mat-form-field class="inputMessage inline">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="inputButton">Primary</button>
    </div>
  </mat-card-actions>
</mat-card>
