<mat-card>

  <div class="messages">

    <div class="message">
      <div class="received">
        <h4>Hello World</h4>
      </div>
    </div>

    <div class="message">
      <div class="sent">
        <h4>Hello World</h4>
      </div>
    </div>

  </div>
  <mat-card-actions>
    <div class="group-message">
      <mat-form-field class="inputMessage inline">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="inputButton">Primary</button>
    </div>
  </mat-card-actions>
</mat-card>
